<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cb4"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="0x00010000" />
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="false" />

    <application
        android:label="Cubic Battle 4"
        android:icon="@mipmap/ic_launcher"
        android:hasCode="true"
        android:extractNativeLibs="true">
        <activity
            android:name="com.cb4.GameActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation|uiMode|density|fontScale|layoutDirection|locale"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="cb_game" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.cb4.PresenceJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" // пожалуйста пойми фокс пж
            android:exported="false" />
    </application>
</manifest>
